<!DOCTYPE html>
<html>
<head>

	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Cosmos GUI</title>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.0.3/vue.js"></script> <!-- Vue as primary JS fwmk -->
	<!--script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script--> <!-- JQuery for certain DOM elem manipulations -->
	<!--link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet" type="text/css" /--> <!-- Bootstrap for styling -->
	<script src= "https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.2/Chart.bundle.min.js"></script> <!-- ChartJS for dashboard charts -->
	<script src="https://unpkg.com/axios/dist/axios.min.js"></script> <!-- Axios as Http client -->
	<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.22.1/moment.min.js"></script> <!-- Moment JS for Date manipulation -->

	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js"></script>

	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">	 <!--  For calendar icon  -->


	<!--   FOR THE TIME PICKER   -->
	<!--script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script-->
	<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.21.0/moment.min.js"></script>
	<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/tempusdominus-bootstrap-4/5.0.0-alpha18/js/tempusdominus-bootstrap-4.min.js"></script>
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/tempusdominus-bootstrap-4/5.0.0-alpha18/css/tempusdominus-bootstrap-4.min.css" />
</head>


<body>
        <div id="app">
             
	  			<ul class="nav nav-tabs" id="myTab" role="tablist">
	  				<li class="nav-item">
	  					<a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true">Action name</a>
	  				</li>
	  				<li class="nav-item">
	  					<a class="nav-link" id="profile-tab" data-toggle="tab" href="#profile" role="tab" aria-controls="profile" aria-selected="false">HTTP request</a>
	  				</li>
	  				<li class="nav-item">
	  					<a class="nav-link" id="contact-tab" data-toggle="tab" href="#contact" role="tab" aria-controls="contact" aria-selected="false">Body</a>
	  				</li>
                    <li class="nav-item">
	  					<a class="nav-link" id="contact-tab" data-toggle="tab" href="#newone" role="tab" aria-controls="newone" aria-selected="false">Headers</a>
	  				</li>
	  			</ul>
    
	  			<div class="tab-content" id="myTabContent">

                    <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
                        <div class="mb-3">
                            <label for="actionName">Name</label>
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text"><i class="fa fa-font"></i></span>
                                </div>
                                <input type="text" class="form-control" id="actionName" placeholder="Action Name" v-model="activeAction.name" required="true">
                                <div class="invalid-feedback" style="width: 100%;">
                                    The Action name is required.
                                </div>
                            </div>
                        </div>
	  				</div>
                    
	  				<div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">
                        <!--div>
                            <label class="custom-control-label" for="triggerPolicy"><h4><strong>HTTP Request</strong></h4></label>
                        </div>
                        <hr-->
                        <div class="mb-3">
                            <label for="httpMethod">Method</label>
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text"><i class="fa fa-star-o"></i></span>
                                </div>
                                    <select class="form-control custom-select" id="httpMethod" v-model="activeAction.method" required="true">
                                        <option v-for="(method, index) in existingHttpMethods" v-bind:value="method.name">
                                            {{method.name}}
                                        </option>
                                    </select>
                                <div class="invalid-feedback" style="width: 100%;">
                                    The HTTP Method is required.
                                </div>
                            </div>
                        </div>

                        <div class="mb-3">
                            <label for="triggerName">URL</label>
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text"><i class="fa fa-external-link"></i></span>
                                </div>
                                <input type="text" class="form-control" id="triggerName" placeholder="http://foo" v-model="activeAction.url" required="true">
                                <div class="invalid-feedback" style="width: 100%;">
                                    The Action name is required.
                                </div>
                            </div>
                        </div>

                        <div class="mb-3">
                            <label for="triggerName">Version</label>
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text"><i class="fa fa-code"></i></span>
                                </div>
                                <input type="text" class="form-control" id="triggerName" placeholder="HTTP request version" v-model="activeAction.version" required="true">
                                <div class="invalid-feedback" style="width: 100%;">
                                    The Action name is required.
                                </div>
                            </div>
                        </div>
	  				</div>
                    
	  				<div class="tab-pane fade" id="contact" role="tabpanel" aria-labelledby="contact-tab">
 							<div class="row">
                                <div class="col-md-3">
                                    <button type="button" class="btn btn-info btn-lg btn-block" v-on:click="addOneMoreElemsForActionRequestBody()"><strong>Add parameter</strong></button>
                                </div>
                            </div>


	  							<div class="row" v-for="(elem, index) in activeIdsForHttpRequestBody">

	  								<div class="col-md-5">
	  									<div class="mb-3">
	  										<label for="triggerName">Key</label>
	  										<div class="input-group">
	  											<div class="input-group-prepend">
	  												<span class="input-group-text"><i class="fa fa-key"></i></span>
	  											</div>
	  											<input type="text" class="form-control" v-model="elem.key" placeholder="Parameter key" required="true">
	  											<div class="invalid-feedback" style="width: 100%;">
	  												The parameter key is required.
	  											</div>
	  										</div>
	  									</div>
	  								</div>

	  								<div class="col-md-6">
	  									<div class="mb-3">
	  										<label for="triggerName">Value</label>
	  										<div class="input-group">
	  											<div class="input-group-prepend">
	  												<span class="input-group-text"><i class="fa fa-pencil-square-o"></i></span>
	  											</div>
	  											<input type="text" class="form-control" v-model="elem.value" placeholder="Parameter value" required="true">
	  											<div class="invalid-feedback" style="width: 100%;">
	  												The parameter value is required.
	  											</div>
	  										</div>
	  									</div>
	  								</div>

	  								<div class="col-md-1">
	  									<div class="mb-3">
	  										<label></label>
	  										<button type="button" class="btn btn-danger" @click="oneLessElemForActionRequestBody(index)"><strong><i class="fa fa-remove"></i></strong></button>
	  									</div>
	  								</div>

	  							</div>

	  				</div>
                    
                    <div class="tab-pane fade" id="newone" role="tabpanel" aria-labelledby="newone-tab">
	  							<div class="row">
	  								<div class="col-md-3">
	  									<button type="button" class="btn btn-info btn-lg btn-block" v-on:click="addOneMoreElemsForActionRequestHeader()"><strong>Add parameter</strong></button>
	  									<!--  https://stackoverflow.com/questions/7803814/prevent-refresh-of-page-when-button-inside-form-clicked  -->
	  								</div>
	  							</div>


                    <div class="row" v-for="(elem, index) in activeIdsForHttpRequestHeader">

                            <div class="col-md-5">
                                <div class="mb-3">
                                    <label for="triggerName">Key</label>
                                    <div class="input-group">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text"><i class="fa fa-key"></i></span>
                                        </div>
                                        <input type="text" class="form-control" v-model="elem.key" placeholder="Parameter key" required="true">
                                        <div class="invalid-feedback" style="width: 100%;">
                                            The Action name is required.
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-6">
                                <div class="mb-3">
                                    <label for="triggerName">Value</label>
                                    <div class="input-group">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text"><i class="fa fa-pencil-square-o"></i></span>
                                        </div>
                                        <input type="text" class="form-control" v-model="elem.value" placeholder="Parameter value" required="true">
                                        <div class="invalid-feedback" style="width: 100%;">
                                            The Action name is required.
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-1">
                                <div class="mb-3">
                                    <label></label>
                                    <button class="btn btn-danger" @click="oneLessElemForActionRequestHeader(index)"><strong><i class="fa fa-remove"></i></strong></button>
                                </div>
                            </div>

                        </div>

	  				 </div>
	  			  </div>
            
            {{activeAction.name}}
            {{activeAction.method}}
            {{activeAction.url}}
            {{activeAction.version}}
            {{activeIdsForHttpRequestBody}}
            {{activeIdsForHttpRequestHeader}}

            
    </div>
    
    
    
    <script type="text/javascript">
        
        new Vue({
                el: '#app',
                data: {
                    dataStreams: [],
                    dataStreamSelected: [],
                    hasNotFinishedDS: true,
                    hasNotFinishedDPS: true,
                    streamWasSelected:false,
                    hasToShowCharAndCards: false,
                    isTimePeriodPolicy: false,

                    renderDashboardView: true,
                    renderSecurityView: false,
                    renderAboutView: false,
                    renderActionAddView: false,
                    renderActionRemoveView: false,
                    renderCommandAddView: false,
                    renderCommandRemoveView: false,
                    renderTriggerAddView: false,
                    renderTriggerRemoveView: false,
                    renderDataStreamView : false,
                    amountOfEntriesPerPage: 5,
	  				//renderOneTimeTrigger: false,

	  				showActionsOptions : false,
	  				showCommandsOptions : false,
	  				showTriggersOptions : false,

	  				actionFilter: undefined,
	  				pagesNeededForActions: 0, 
	  				maxActionsPerPage: 3, 
	  				actionsForPage: [], 
	  				filteredActions: [],

	  				filteredActions:[],
	  				intermediateActions:[],
	  				activeAction:[],


	  				elemsForActionRequestBody: 0,
	  				activeIdsForHttpRequestBody: [],
	  				activeIdsForHttpRequestHeader: [],


	  				existingHttpMethods:[
		  				{id:0, name:'DELETE'},
		  				{id:1, name:'GET'},
		  				{id:2, name:'HEAD'},
		  				{id:3, name:'OPTIONS'},
		  				{id:4, name:'PATCH'},
		  				{id:5, name:'POST'},
		  				{id:6, name:'PUT'},
		  				{id:7, name:'TRACE'}, 				
	  				],

	  				existingPriorities:[
		  				{id:0, name:'High'},
		  				{id:1, name:'Medium'},
		  				{id:2, name:'Low'},
	  				],



	  				conditionSelected:{
	  					id:1,
	  					text:''
	  				}

	  			},

			methods: {
                
                addOneMoreElemsForActionRequestHeader: function(){ /* http://jsbin.com/zusokiy/edit?html,js,output  */
					this.activeIdsForHttpRequestHeader.push({
						key: '',
						value: ''
					});
				},

				oneLessElemForActionRequestHeader: function(index){
					this.activeIdsForHttpRequestHeader.splice(index,1);					
				},

				oneLessElemForActionRequestBody: function(index){
					console.log("oneLessElemForActionRequestBody");
					console.log("elemsForActionRequestBody: " + this.elemsForActionRequestBody);
					console.log("activeIdsForHttpRequestBody: " + this.activeIdsForHttpRequestBody);

					this.activeIdsForHttpRequestBody.splice(index,1);

					console.log("elemsForActionRequestBody: " + this.elemsForActionRequestBody);
					console.log("activeIdsForHttpRequestBody: " + this.activeIdsForHttpRequestBody);
				},

				addOneMoreElemsForActionRequestBody: function(){
					console.log("addOneMoreElemsForActionRequestBody");
					console.log("activeIdsForHttpRequestBody: " + this.activeIdsForHttpRequestBody);

					this.activeIdsForHttpRequestBody.push({
						key: '',
						value: ''
					});

					console.log("activeIdsForHttpRequestBody: " + this.activeIdsForHttpRequestBody);
				}
            
            }});
        
        
    </script>    
</body>
</html>