<!DOCTYPE html>
<html>
<head>

	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Cosmos GUI</title>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.0.3/vue.js"></script> <!-- Vue as primary JS fwmk -->
	<!--script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script--> <!-- JQuery for certain DOM elem manipulations -->
	<!--link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet" type="text/css" /--> <!-- Bootstrap for styling -->
	<script src= "https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.2/Chart.bundle.min.js"></script> <!-- ChartJS for dashboard charts -->
	<script src="https://unpkg.com/axios/dist/axios.min.js"></script> <!-- Axios as Http client -->
	<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.22.1/moment.min.js"></script> <!-- Moment JS for Date manipulation -->

	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js"></script>

	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">	 <!--  For calendar icon  -->


	<!--   FOR THE TIME PICKER   -->
	<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.21.0/moment.min.js"></script>
	<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/tempusdominus-bootstrap-4/5.0.0-alpha18/js/tempusdominus-bootstrap-4.min.js"></script>
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/tempusdominus-bootstrap-4/5.0.0-alpha18/css/tempusdominus-bootstrap-4.min.css" />


	<style type="text/css">
	#contentSeparator{
		color: "#2b2c37";
		text-align: left;
		border-bottom: black solid;
		box-shadow: 10px 10px 5px grey;
		border: 1px solid grey;
		font-size: 25px;
	}

	#contentSeparator{
		color: "#2b2c37";
		text-align: left;
		border-bottom: black solid;
	}

	#selectDataStream{
		size: 10 ppx;
		font-family: "Helvetica", sans-serif;
	}

	#buttonShowCharts{
		size: 10 ppx;
		font-family: "Helvetica", sans-serif;
	}

	#cosmosTitle{
		color: white;
		size: 40 ppx;
		text-align: center;
		font-family: "Helvetica", sans-serif;
	}

	#optionTitle{
		color: #170E2C;
		size: 58ppx;
	}

	#menuButton{
		color: #5bc0de;
	}

	#opt{
		color: #170E2C;
		size: 22ppx;	
	}

	/* Style The Dropdown Button */
	.dropbtn {
		background-color: #250869;
		color: white;
		padding: 16px;
		font-size: 16px;
		border: black;
		cursor: pointer;
	}

	/* The container <div> - needed to position the dropdown content */
	.dropdown {
		position: relative;
		display: inline-block;
	}

	/* Dropdown Content (Hidden by Default) */
	.dropdown-content {
		display: none;
		position: absolute;
		background-color: #250869;
		min-width: 160px;
		box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
		z-index: 1;
	}

	/* Links inside the dropdown */
	.dropdown-content a {
		color: white;
		padding: 12px 16px;
		text-decoration: none;
		display: block;
	}

	/* Change color of dropdown links on hover */
	.dropdown-content a:hover {background-color: #250869}

	/* Show the dropdown menu on hover */
	.dropdown:hover .dropdown-content {
		display: block;
	}

	/* Change the background color of the dropdown button when the dropdown content is shown */
	.dropdown:hover .dropbtn {
		background-color: #250869;
	}

	/* The side navigation menu */
	.sidenav {
		height: 100%; /* 100% Full-height */
		width: 0; /* 0 width - change this with JavaScript */
		position: fixed; /* Stay in place */
		z-index: 1; /* Stay on top */
		top: 0;
		left: 0;
		background-color: #111; /* Black*/
		overflow-x: hidden; /* Disable horizontal scroll */
		padding-top: 60px; /* Place content 60px from the top */
		transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
	}

	/* The navigation menu links */
	.sidenav a {
		padding: 8px 8px 8px 32px;
		text-decoration: none;
		font-size: 20px;
		color: #818181;
		display: block;
		transition: 0.3s
	}

	/* When you mouse over the navigation links, change their color */
	.sidenav a:hover, .offcanvas a:focus{
		color: #f1f1f1;
	}

	/* Position and style the close button (top right corner) */
	.sidenav .closebtn {
		position: absolute;
		top: 0;
		right: 25px;
		font-size: 36px;
		margin-left: 50px;
	}

	/* Style page content - use this if you want to push the page content to the right when you open the side navigation */
	#ui-header {
		/*transition: margin-left .5s; --- esta opción es para desplazar el contenido a la derecha*/
		padding: 20px;
		/*background-color: #290B6E;*/
		/*background-color: #151E21;   EL MAS PARECIDO Y MEJOR COLOR!!!!*/
		/*background-color: #1E2B2F;*/
		/*background-color: #323855;*/

		/*nuevas opciones de colores que consegui googleando:*/
		/*background-color: #32333E;*/
		/*background-color: #373843;*/
		/*background-color: #3c3d48;*/
		/*background-color: #353440;*/
		/*background-color: #373843;*/
		background-color: #2b2c37;

	}

	/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
	@media screen and (max-height: 450px) {
		.sidenav {padding-top: 15px;}
		.sidenav a {font-size: 18px;}
	}

	.btn-info {
		color: #ffffff;
		background-color: #5bc0de;
		border-color: #5bc0de;
	}

	.btn-info:focus, .btn-info.focus {
		color: #ffffff;
		background-color: #31b0d5;
		border-color: #1f7e9a;
	}

	.btn {
		display: inline-block;
		margin-bottom: 0;
		font-weight: normal;
		text-align: center;
		vertical-align: middle;
		-ms-touch-action: manipulation;
		touch-action: manipulation;
		cursor: pointer;
		background-image: none;
		border: 1px solid transparent;
		white-space: nowrap;
		padding: 8px 12px;
		font-size: 14px;
		line-height: 1.42857143;
		border-radius: 4px;
		-webkit-user-select: none;
		-moz-user-select: none;
		-ms-user-select: none;
		user-select: none;
		text-decoration: none;
		box-sizing: border-box;
		margin: 0 0 10px;
	}

	.btn:hover{
		background-color: #229BC0;
	}
	#lineChart{
		max-height: 90%;
		max-width: 90%;
	}
	#secondLineChart{
		max-height: 90%;
		max-width: 90%;
	}
	#thirdLineChart{
		max-height: 90%;
		max-width: 90%;
	}
	#myChart{
		max-height: 78%;
		max-width: 78%;
	}
	.panel panel-default{

	}


	#keys{
		margin-left: 2%;
		max-width: 50%;
		font-size: 15px;
	}

	#commands{
		margin-left: 2%;
		max-width: 50%;
		font-size: 15px;
	}

	/*  									====>  esto es para ponerle un fondo con el borde recortado */
	#commands {
		border-radius: 5px;
		background-color: #f2f2f2;
		padding: 15px;
	}

	#app{
		background-color: #444651;
	}

¨/*	.fixed-panel {
  		min-height: 10;
  		max-height: 10;
  		overflow-y: scroll;  ---> sirve para que te aparezcan los botoncitos de subir/bajar en el contenido
  		}*/

  	</style>

  </head>




  <body>

  	<div id="app" class="bg-light">

  		<!-- Side Nav for burguer menu -->
  		<div id="mySidenav" class="sidenav" v-on:click="closeNav()" v-bind:style="sideNavStyle">
  			<a href="javascript:void(0)" class="closebtn">&times;</a>
  			<a href="#" v-on:click="showDashboardView()"><i class="fa fa-dashboard" style="font-size:20px"></i> DASHBOARD</a>
  			<a href="#" v-on:click="showCommandsView()"><i class="fa fa-hand-paper-o" style="font-size:20px"></i> ACTIONS</a>
  			<a href="#" v-on:click="showTriggersView()"><i class="fa fa-bell-o" style="font-size:20px"></i> TRIGGERS</a> <!-- fa fa-calendar -->
  			<a href="#" v-on:click="showSecurityView()"><i class="fa fa-lock" style="font-size:20px"></i>   SECURITY</a>
  			<a href="#" v-on:click="showAboutView()"><i class="fa fa-info" style="font-size:20px"></i>   ABOUT</a>
  		</div>

  		<div id="ui-header">
  			<!--span style="font-size:30px;cursor:pointer" v-on:click="openNav()">&#9776;</span--> <!-- &#9776; represents the burguer icon -->

  			<div class="row">
  				<div class="col-md-2">
  					<span style="font-size:30px;cursor:pointer" v-on:click="openNav()"><i class="fa fa-bars" style="color:white;"></i></span>
  				</div>
  				<div class="col-md-10 text-center py-2">
  					<h1 id="cosmosTitle" style="padding-right: 28%;"><strong>Cosmos GUI</strong></h1>
  				</div>
  			</div>
  		</div>


  		<div v-if="renderDashboardView" id="dashboard">

  			<content-separator v-if="hasToShowStreams()"><i class="fa fa-line-chart" style="font-size:24px"></i> Data Streams</content-separator>

  			<!-- Div for the stream selection -->
  			<div style="text-align: center;">
  				<div>
  					<!--strong>Select the data streams you want to visualize...</strong-->
  					<br>
  					<i v-if="!hasToShowStreams()" class="fa fa-spinner fa-spin" style="font-size: 70px"></i>
  					<div class="wrapper text-center">
  						<div style="width: auto; margin: 0 auto;" class="btn-group container-fluid" role="group" aria-label="Basic example" v-if="hasToShowStreams()">
  							<data-streams-button v-for="dS in dataStreams" v-bind:name="dS" v-bind:class="[selectedDs == dS ? 'btn btn-primary': 'btn btn-secondary']" v-on:click.native="assignDataStream(dS)"></data-streams-button>
  						</div>
  					</div>
  				</div>
  			</div>

  			<br>

  			<div v-if="hasToShowCharAndCards">
  				<!-- Div for the Stream chart and stat Cards -->
  				<div class="row" style="margin: 50px auto;">
  					<div class="col-md-8">
  						<canvas id="streamCanvas"></canvas>
  					</div>
  					<div class="col-md-4">
  						<div class="row container-fluid">
  							<div class="card">
  								<div class="card-header bg-primary"><strong style="font-size:13px; color: black;"><i class="fa fa-arrow-circle-right" style="font-size:20px"></i> CURRENT VALUE</strong></div>
  								<div class="card-body text-center">
  									<h2><p class="card-text"><strong>{{currentValue.value}}</strong></p></h2>
  								</div>
  								<div class="card-footer">
  									<small class="text-muted"><strong>WHEN:  </strong>{{currentValue.timestamp}} ago</small>
  								</div>
  							</div>
  							<div style="width: 25px;"> </div>
  							<div class="card">
  								<div class="card-header bg-primary"><strong style="font-size:13px; color: black;"><i class="fa fa-percent" style="font-size:20px"></i> AVERAGE VALUE</strong></div>
  								<div class="card-body text-center">
  									<h2><p class="card-text"><strong>{{averageValue.value}}</strong></p></h2>
  								</div>
  								<div class="card-footer">
  									<small class="text-muted">During {{averageValue.timestamp}} mins</small>
  								</div>
  							</div>
  						</div>

  						<br>

  						<div class="row container-fluid">
  							<div class="card">
  								<div class="card-header bg-primary"><strong style="font-size:13px; color: black;"><i class="fa fa-arrow-circle-down" style="font-size:20px"></i> MIN VALUE</strong></div>
  								<div class="card-body text-center">
  									<h2><p class="card-text"><strong>{{minValue.value}}</strong></p></h2>
  								</div>
  								<div class="card-footer">
  									<small class="text-muted"><strong>WHEN:  </strong>{{minValue.timestamp}} ago</small>
  								</div>
  							</div>
  							<div style="width: 25px;"> </div>			
  							<div class="card">
  								<div class="card-header bg-primary"><strong style="font-size:13px; color: black;"><i class="fa fa-arrow-circle-up" style="font-size:20px"></i> MAX VALUE</strong></div>
  								<div class="card-body text-center">
  									<h2><p class="card-text"><strong>{{maxValue.value}}</strong></p></h2>
  								</div>
  								<div class="card-footer">
  									<small class="text-muted"><strong>WHEN:  </strong>{{maxValue.timestamp}} ago</small>
  								</div>
  							</div>
  						</div>
  					</div>
  				</div>
  			</div>

  			<!--content-separator v-if="hasToShowStreams()"><i class="fa fa-pie-chart" style="font-size:24px"></i> Actions, Commands & Triggers</content-separator-->
  			<content-separator ><i class="fa fa-pie-chart" style="font-size:24px"></i> Actions, Commands & Triggers</content-separator>
  			<br>

  			<!-- Div for showing the recently/most executed actions -->
  			<div class="row" id="actions" v-if="renderDashboardView" style="margin: 50px auto;">

  				<div class="col-md-6">
  					<div class="card">
  						<div class="card-header bg-info">
  							<h3 class="card-title"><i class="fa fa-clock-o fa-fw"></i> Last Tasks Executed</h3>
  						</div>
  						<div class="card-body">
  							<div class="list-group">
  								<a href="#" class="list-group-item d-flex justify-content-between align-items-center">
  									<i class="fa fa-fw fa-calendar pull-left"></i> Calendar updated
  									<span class="badge badge-secondary badge-pill">just now</span>
  									<!--span class="badge">just now</span-->
  								</a>
  								<a href="#" class="list-group-item d-flex justify-content-between align-items-center">
  									<!--span class="badge">4 minutes ago</span-->
  									<i class="fa fa-fw fa-comment"></i> Commented on a post
  									<span class="badge badge-secondary badge-pill">4 minutes ago</span>
  								</a>
  								<a href="#" class="list-group-item d-flex justify-content-between align-items-center">
  									<!--span class="badge">23 minutes ago</span-->
  									<i class="fa fa-fw fa-truck"></i> Order 392 shipped
  									<span class="badge badge-secondary badge-pill">23 minutes ago</span>
  								</a>
  								<a href="#" class="list-group-item d-flex justify-content-between align-items-center">
  									<!--span class="badge">46 minutes ago</span-->									
  									<i class="fa fa-fw fa-money"></i> Invoice 653 has been paid
  									<span class="badge badge-secondary badge-pill">46 minutes ago</span>
  								</a>
  							</div>
  						</div>
  					</div>
  				</div>
  				<!-- div for drawing the actions/commands pie chart -->
  				<div class="col-md-6">
  					<strong>Most Executed Actions</strong>
  					<canvas id="actionsChart"></canvas>
  				</div>
  			</div>

  		</div>

  		<!-- div for showing the Keys menu view -->
  		<div id="keys" v-if="renderSecurityView"> 
  			<form>
  				<p>Please select all the permissions you want to associate to the security key:</p>
  				<div class="checkbox">
  					<label><input id="checkOption1" type="checkbox" value="read">Read</label>
  				</div>
  				<div class="checkbox">
  					<label><input id="checkOption2" type="checkbox" value="write">Write</label>
  				</div>
  				<div class="checkbox">
  					<label><input id="checkOption3" type="checkbox" value="execute">Execute</label>
  				</div>
  				<button type="submit" class="btn btn-primary">Generate Key</button>
  			</form>
  		</div>

  		<!-- div for showing the Commands menu view -->
  		<div id="commands" v-if="renderActionsView"> 
  			<form>
  				<div class="form-group row">
  					<label for="example-text-input" class="col-2 col-form-label">Action name</label>
  					<div class="col-10">
  						<input class="form-control" type="text" placeholder="Sense Temperature" id="example-text-input">
  					</div>
  				</div>
  				<div class="form-group row">
  					<label for="example-search-input" class="col-2 col-form-label">Search</label>
  					<div class="col-10">
  						<input class="form-control" type="search" value="How do I shoot web" id="example-search-input">
  					</div>
  				</div>
  				<div class="form-group row">
  					<label for="example-email-input" class="col-2 col-form-label">Email</label>
  					<div class="col-10">
  						<input class="form-control" type="email" value="bootstrap@example.com" id="example-email-input">
  					</div>
  				</div>
  				<div class="form-group row">
  					<label for="example-url-input" class="col-2 col-form-label">URL</label>
  					<div class="col-10">
  						<input class="form-control" type="url" value="https://getbootstrap.com" id="example-url-input">
  					</div>
  				</div>
  				<div class="form-group row">
  					<label for="example-tel-input" class="col-2 col-form-label">Telephone</label>
  					<div class="col-10">
  						<input class="form-control" type="tel" value="1-(555)-555-5555" id="example-tel-input">
  					</div>
  				</div>
  				<div class="form-group row">
  					<label for="formGroupExampleInput">Action priority</label>
  					<select class="form-control">
  						<option>High</option>
  						<option>Medium</option>
  						<option>Low</option>
  					</select>
  				</div>
  				<div class="form-group row">
  					<label for="example-password-input" class="col-2 col-form-label">Password</label>
  					<div class="col-10">
  						<input class="form-control" type="password" value="hunter2" id="example-password-input">
  					</div>
  				</div>
  				<div class="form-group row">
  					<label for="example-number-input" class="col-2 col-form-label">Number</label>
  					<div class="col-10">
  						<input class="form-control" type="number" value="42" id="example-number-input">
  					</div>
  				</div>
  				<div class="form-group row">
  					<label for="example-datetime-local-input" class="col-2 col-form-label">Date and time</label>
  					<div class="col-10">
  						<input class="form-control" type="datetime-local" value="2011-08-19T13:45:00" id="example-datetime-local-input">
  					</div>
  				</div>
  				<div class="form-group row">
  					<label for="example-date-input" class="col-2 col-form-label">Date</label>
  					<div class="col-10">
  						<input class="form-control" type="date" value="2011-08-19" id="example-date-input">
  					</div>
  				</div>
  				<div class="form-group row">
  					<label for="example-month-input" class="col-2 col-form-label">Month</label>
  					<div class="col-10">
  						<input class="form-control" type="month" value="2011-08" id="example-month-input">
  					</div>
  				</div>
  				<div class="form-group row">
  					<label for="example-week-input" class="col-2 col-form-label">Week</label>
  					<div class="col-10">
  						<input class="form-control" type="week" value="2011-W33" id="example-week-input">
  					</div>
  				</div>
  				<div class="form-group row">
  					<label for="example-time-input" class="col-2 col-form-label">Time</label>
  					<div class="col-10">
  						<input class="form-control" type="time" value="13:45:00" id="example-time-input">
  					</div>
  				</div>
				<!--div class="form-group row">
					<label for="example-color-input" class="col-2 col-form-label">Color</label>
					<div class="col-10">
						<input class="form-control" type="color" value="#563d7c" id="example-color-input">
					</div>
				</div-->
				<button type="submit" class="btn btn-primary">Define Command</button>
			</form>
		</div>


		<!-- div for showing the Triggers menu view -->
		<div id="triggers" v-if="renderTriggersView">

			<div class="container">
				<div class="row">
					<br>
					<div class="col-md-11 order-md-1">
						<h4 class="mb-3 text-center"><strong>Trigger Configuration</strong></h4>
						<h6 class="text-muted text-center"><em><small>You trigger an ACTION based on a CONDITION that needs to be checked according to some POLICY</em></small></h6>
						<hr>
						<form class="needs-validation" novalidate="">

							<div class="mb-3">
								<label for="triggerName">Name</label>
								<div class="input-group">
									<div class="input-group-prepend">
										<span class="input-group-text"><i class="fa fa-font"></i></span>
									</div>
									<input type="text" class="form-control" id="triggerName" placeholder="Trigger Name" required="true">
									<div class="invalid-feedback" style="width: 100%;">
										The Trigger name is required.
									</div>
								</div>
							</div>

							<!--hr>

							<div class="custom-control custom-checkbox" style="float: right;">
								<input type="checkbox" class="custom-control-input" id="oneTimeEvent" v-on:click="logSomething()">
								<label class="custom-control-label" for="oneTimeEvent">One time event</label>
							</div>

							<br><hr-->  

							<div class="mb-3" v-if="!renderOneTimeTrigger">
								<label for="triggerName">Action associated</label>
								<div class="input-group">
									<div class="input-group-prepend">
										<span class="input-group-text"><i class="fa fa-star-o"></i></span>
									</div>
									<select class="form-control custom-select" id="days" placeholder="" required="true">
										<option value="monday">Tweet</option>
										<option value="tuesday">Make Facebook Post</option>
										<option value="wednesday">Send Email</option>
										<option value="thursday">Start Engine Alfa</option>
										<option value="friday">Sense Temperature</option>
									</select>
									<div class="invalid-feedback" style="width: 100%;">
										The Trigger name is required.
									</div>
								</div>
							</div>


							<hr>
							<div>
								<label class="custom-control-label" for="triggerPolicy"><h4><strong>Condition</strong></h4></label>
							</div>
							<hr>

							<div class="mb-3" v-if="!renderOneTimeTrigger">
								<div class="input-group">
									<div class="input-group-prepend">
										<span class="input-group-text"><i class="fa fa-exclamation"></i></span>
									</div>
									<select class="form-control custom-select" id="days" placeholder="" required="true" v-model="conditionSelected">
										<option v-for="condition in triggerConditions" v-bind:value="{ id: condition.id, text: condition.name }">{{ condition.name }}</option>
									</select>
									<div class="invalid-feedback" style="width: 100%;">
										The Trigger name is required.
									</div>
								</div>
							</div>

							<div class="mb-3" v-if="conditionSelected.id==2 || conditionSelected.id==3">
								<label for="dataStreamName">From Data Stream</label>
								<div class="input-group">
									<div class="input-group-prepend">
										<span class="input-group-text"><i class="fa fa-diamond"></i></span>
									</div>
									<select class="form-control custom-select" id="days" placeholder="" required="true">
										<option v-for="dS in dataStreams" value="dS">{{dS}}</option>
									</select>
									<div class="invalid-feedback" style="width: 100%;">
										The Trigger name is required.
									</div>
								</div>
							</div>
							

							<div v-if="conditionSelected.id==2">
								<div class="row">
									<div class="col-md-4 mb-3">
										<label for="cc-number">Value</label>
										<input class="form-control" type="text" placeholder="Data-Stream current value" readonly>
									</div>
									<div class="col-md-4 mb-3">
										<label for="cc-name">Condition</label>
										<select class="form-control custom-select" id="currentValueCond" placeholder="" required="true">
											<option value="monday">greater than</option>
											<option value="monday">less than</option>
											<option value="monday">equal to</option>
											<option value="monday">different to</option>
										</select>
										<div class="invalid-feedback">
											Name on card is required
										</div>
									</div>
									<div class="col-md-4 mb-3">
										<label for="cc-number">Defined value</label>
										<input type="text" class="form-control" id="cc-number" placeholder="0" required="">
										<div class="invalid-feedback">
											Credit card number is required
										</div>
									</div>
								</div>
							</div>


							<div v-if="conditionSelected.id==3">
								<label for="triggerName" style="font-style: italic;">For more than...</label>
								<div class="row">
									<div class="col-md-2 mb-3">
										<label for="cc-number">Months</label>
										<input type="text" class="form-control" id="cc-number" placeholder="0" required="" v-model="dataStreamNotUpdatedFrom.months">
										<div class="invalid-feedback">
											Credit card number is required
										</div>
									</div>
									<div class="col-md-2 mb-3">
										<label for="cc-name">Weeks</label>
										<input type="text" class="form-control" id="cc-name" placeholder="0" required="" v-model="dataStreamNotUpdatedFrom.weeks">
										<div class="invalid-feedback">
											Name on card is required
										</div>
									</div>
									<div class="col-md-2 mb-3">
										<label for="cc-number">Days</label>
										<input type="text" class="form-control" id="cc-number" placeholder="0" required="" v-model="dataStreamNotUpdatedFrom.days">
										<div class="invalid-feedback">
											Credit card number is required
										</div>
									</div>
									<div class="col-md-2 mb-3">
										<label for="cc-number">Hours</label>
										<input type="text" class="form-control" id="cc-number" placeholder="0" required="" v-model="dataStreamNotUpdatedFrom.hours">
										<div class="invalid-feedback">
											Credit card number is required
										</div>
									</div>
									<div class="col-md-2 mb-3">
										<label for="cc-number">Minutes</label>
										<input type="text" class="form-control" id="cc-number" placeholder="0" required="" v-model="dataStreamNotUpdatedFrom.minutes">
										<div class="invalid-feedback">
											Credit card number is required
										</div>
									</div>
									<div class="col-md-2 mb-3">
										<label for="cc-number">Seconds</label>
										<input type="text" class="form-control" id="cc-number" placeholder="0" required="" v-model="dataStreamNotUpdatedFrom.seconds">
										<div class="invalid-feedback">
											Credit card number is required
										</div>
									</div>
								</div>
								<label for="triggerName" style="font-style: italic;">For more than {{dataStreamNotUpdatedFrom.months}} months, {{dataStreamNotUpdatedFrom.weeks}} weeks, {{dataStreamNotUpdatedFrom.days}} days, {{dataStreamNotUpdatedFrom.hours}} hours, {{dataStreamNotUpdatedFrom.minutes}} minutes and {{dataStreamNotUpdatedFrom.seconds}} seconds</label>     
							</div>

							<div v-if="conditionSelected.id==4">
								<div class="mb-3">
									<label for="triggerName">From</label>
									<div class="input-group">
										<div class="input-group-prepend">
											<span class="input-group-text"><i class="fa fa-calendar-plus-o"></i></span>
										</div>  
										<input class="form-control" type="datetime-local" value="2011-08-19T13:45:00" id="a">
										<div class="invalid-feedback" style="width: 100%;">
											The Trigger name is required.
										</div>
									</div>
								</div>

								<div class="mb-3" v-if="!renderOneTimeTrigger">
									<label for="triggerName">To</label>
									<div class="input-group">
										<div class="input-group-prepend">
											<span class="input-group-text"><i class="fa fa-calendar-times-o"></i></span>
										</div>  
										<input class="form-control" type="datetime-local" value="2011-08-19T13:45:00" id="a">
										<div class="invalid-feedback" style="width: 100%;">
											The Trigger name is required.
										</div>
									</div>
								</div>
							</div>



							<hr>
							<div>
								<label class="custom-control-label" for="triggerPolicy"><h4><strong>Policy</strong></h4></label>
							</div>
							<hr>

							<div class="row">
								<div class="col-md-6 mb-3">
									<div class="custom-control custom-radio">
										<input id="credit" name="paymentMethod" type="radio" class="custom-control-input" checked="" required="" v-on:click="dataPointPolicy()">
										<label class="custom-control-label" for="credit">Data Point Registration</label>
									</div>
								</div>
								<div class="col-md-6 mb-3">
									<div class="custom-control custom-radio">
										<input id="debit" name="paymentMethod" type="radio" class="custom-control-input" required="" v-on:click="timePeriodPolicy()">
										<label class="custom-control-label" for="debit">Time Period</label>
									</div>
								</div>
							</div>

							<div v-if="isTimePeriodPolicy">

								<div class="mb-3">
									<label for="triggerName">Starting from</label>
									<div class="input-group">
										<div class="input-group-prepend">
											<span class="input-group-text"><i class="fa fa-calendar-plus-o"></i></span>
										</div>  
										<input class="form-control" type="datetime-local" value="2011-08-19T13:45:00" id="a">
										<div class="invalid-feedback" style="width: 100%;">
											The Trigger name is required.
										</div>
									</div>
								</div>


								<div class="mb-3" v-if="!renderOneTimeTrigger">
									<label for="triggerName">Ending on</label>
									<div class="input-group">
										<div class="input-group-prepend">
											<span class="input-group-text"><i class="fa fa-calendar-times-o"></i></span>
										</div>  
										<input class="form-control" type="datetime-local" value="2011-08-19T13:45:00" id="a">
										<div class="invalid-feedback" style="width: 100%;">
											The Trigger name is required.
										</div>
									</div>
								</div>

							</div>


							<div v-else>

								<div class="mb-3">
									<label for="triggerName">From Data Stream</label>
									<div class="input-group">
										<div class="input-group-prepend">
											<span class="input-group-text"><i class="fa fa-diamond"></i></span>
										</div>
										<select class="form-control custom-select" id="days" placeholder="" required="true">
											<option v-for="dS in dataStreams" value="dS">{{dS}}</option>
										</select>
										<div class="invalid-feedback" style="width: 100%;">
											The Trigger name is required.
										</div>
									</div>
								</div>

								<!--div class="mb-3">
									<label for="triggerName">Value registered</label>
									<div class="input-group">
										<div class="input-group-prepend">
											<span class="input-group-text"><i class="fa fa-font"></i></span>
										</div>
										<input type="text" class="form-control" id="triggerName" placeholder="Trigger Name" required="true">
										<div class="invalid-feedback" style="width: 100%;">
											The Trigger name is required.
										</div>
									</div>
								</div-->

							</div>


							<!--div class="mb-3">
								<label for="triggerName">Time granularity</label>
							</div>

							<label for="triggerName" style="font-style: italic;">Repited every...</label>
							<div class="row">
								<div class="col-md-2 mb-3">
									<label for="cc-number">Months</label>
									<input type="text" class="form-control" id="cc-number" placeholder="0" required="">
									<div class="invalid-feedback">
										Credit card number is required
									</div>
								</div>
								<div class="col-md-2 mb-3">
									<label for="cc-name">Weeks</label>
									<input type="text" class="form-control" id="cc-name" placeholder="0" required="">
									<div class="invalid-feedback">
										Name on card is required
									</div>
								</div>
								<div class="col-md-2 mb-3">
									<label for="cc-number">Days</label>
									<input type="text" class="form-control" id="cc-number" placeholder="0" required="">
									<div class="invalid-feedback">
										Credit card number is required
									</div>
								</div>
								<div class="col-md-2 mb-3">
									<label for="cc-number">Hours</label>
									<input type="text" class="form-control" id="cc-number" placeholder="0" required="">
									<div class="invalid-feedback">
										Credit card number is required
									</div>
								</div>
								<div class="col-md-2 mb-3">
									<label for="cc-number">Minutes</label>
									<input type="text" class="form-control" id="cc-number" placeholder="0" required="">
									<div class="invalid-feedback">
										Credit card number is required
									</div>
								</div>
								<div class="col-md-2 mb-3">
									<label for="cc-number">Seconds</label>
									<input type="text" class="form-control" id="cc-number" placeholder="0" required="">
									<div class="invalid-feedback">
										Credit card number is required
									</div>
								</div>
							</div>

							<label for="triggerName" style="font-style: italic;">Every {{months}} months, {{weeks}} weeks, {{hours}} hours, {{minutes}} minutes and {{seconds}} seconds</label-->       

								<hr class="mb-3">
								<button class="btn btn-primary btn-lg btn-block" type="submit"><h5><strong>Define trigger</strong></h5></button>
							</form>
						</div>
					</div>


				</div>
			</div>
		</div>
		<script type="text/javascript">

			Vue.component('div-canvas-for-chart', {
				props:['id'],
				template:'<div class="col-md-4"><canvas :id="id"></canvas></div>' 
			});

			Vue.component('content-separator', {
				template:'<h1 id="contentSeparator"><strong><slot></slot></strong></h1>'
			});

			Vue.component('data-streams-button', {
				props:['name'],
				template:'<button type="button">{{name}}</button>'
			});

			Vue.component('data-stream-checkboxes', {
				props:['value'],
				template:'<p><input type="checkbox" :value="value" v-model="caca"><label :for="value">{{value}}</label></p>',
				data() {
					console.log(" data() en componen => " + this.value);
					return { caca: this.value }
				},
				watch: {
					caca(val) {
						console.log(" caca => " + val);
						this.$emit('input', val);
					}
				} 
			});

			new Vue({
				el: '#app',
				data: {
					dataStreams: [],
					dataStreamSelected: [],
					hasNotFinishedDS: true,
					hasNotFinishedDPS: true,
					renderDashboardView: true,
					renderSecurityView: false,
					renderActionsView: false,
					renderAboutView: false,
					streamWasSelected:false,
					hasToShowCharAndCards: false,
					renderTriggersView: false,
					renderOneTimeTrigger: false,

					isTimePeriodPolicy: false,

					conditionSelected:{
						id:1,
						text:''
					},

					triggerConditions:[
					{id: 1, name: 'Always'},
					{id: 2, name: 'On Data-Stream value'},
					{id: 3, name: 'When Data-Stream has not been updated'},
					{id: 4, name: 'Time interval'},
					{id: 5, name: 'Composite condition'}
					],

					dataStreamNotUpdatedFrom:{
						months:0,
						weeks:0,
						days:0,
						hours:0,
						minutes:0,
						seconds:0,
					},

					dataStreamBoundedToTrigger:'Data-Stream',

					maxValue:{
						value:'',
						timestamp:''
					},
					minValue:{
						value:'',
						timestamp:''
					},
					averageValue:{
						value:'',
						timestamp:''
					},
					currentValue: {
						value:'',
						timestamp:''
					},
					data:'',
					dataStreamInformation: [],
					selectedDs: '',
					sideNavStyle:{
						backgroundColor: '',
						width: ''						
					}
				},

				mounted(){

				//Chart.defaults.global.legend.display = false; // avoid showing dataset labels on any chart

				this.hasNotFinishedDS = true;
				this.isSideNavActive = false;
				this.renderDashboardView = true;
				this.renderSecurityView = false;
				this.renderActionsView = false;
				this.renderAboutView = false;
				this.renderTriggersView = false;

				this.streamWasSelected = false;
				this.isTimePeriodPolicy = false;

				this.data = new Date();

				console.log("DATE => " + this.data);

				axios.get('http://localhost:8090/test/dataStream/availables').then(response => {
					this.hasNotFinishedDS = false;
					this.dataStreams = response.data;	
					console.log("[SUCCESS] DataStreams =>>>> " + this.dataStreams);
				}, (error) => {
					this.hasNotFinishedDS=false;
					console.log(error);
					this.dataStreams = ["Temperature","Pressure","Humidity","UV-Intensity"];
					console.log("[ERROR] DataStreams > " + this.dataStreams);
				})

				console.log("Width => " + this.sideNavStyle.backgroundColor);
				console.log("Color => " + this.sideNavStyle.width);


			    // Drawing the chart for Actions -> FIXME <-
			    var ctx = document.getElementById("actionsChart").getContext('2d');
			    var actionsChart = new Chart(ctx, {
			    	type: 'doughnut',
			    	data: {
			    		labels: ['Action 1', 'Action 2', 'Action 3', 'Action 4', 'Action 5'],
			    		datasets: [{
			    			label: 'Population (millions)',
			    			data: [11, 22, 5, 17, 15],
			    			backgroundColor: ['#FABB3C', '#32D75E','#D02FC0','#EB0524','#848B7A']
			    			/*backgroundColor: ['#3e95cd', '#8e5ea2','#3cba9f','#e8c3b9','#c45850']*/
			    		}]
			    	},
			    	options: {
			    		responsive:true,
			    		cutoutPercentage:75,
			    		maintainAspectRatio: true,
						/*title: {
							display: false,
							text: 'Most Executed Actions'
						}*/
						title: false,
						//legend:false
					}
				});

			},

			methods: {

				dataPointPolicy: function(){
					console.log(this.isTimePeriodPolicy);
					this.isTimePeriodPolicy = false;
					console.log(this.isTimePeriodPolicy);
				},
				timePeriodPolicy: function(){
					console.log(this.isTimePeriodPolicy);
					this.isTimePeriodPolicy = true;
					console.log(this.isTimePeriodPolicy);
				},

				logSomething: function(){

					console.log("CLICKED");
					console.log("before: " + this.renderOneTimeTrigger);
					this.renderOneTimeTrigger=!this.renderOneTimeTrigger;
					console.log("after: " + this.renderOneTimeTrigger);
				},

				drawPieChart(){	
				    // Drawing the chart for Actions -> FIXME <-
				    var ctx = document.getElementById("actionsChart").getContext('2d');
				    var actionsChart = new Chart(ctx, {
				    	type: 'doughnut',
				    	data: {
				    		labels: ['Action 1', 'Action 2', 'Action 3', 'Action 4', 'Action 5'],
				    		datasets: [{
				    			label: 'Population (millions)',
				    			data: [11, 22, 5, 17, 15],
				    			backgroundColor: ['#FABB3C', '#32D75E','#D02FC0','#EB0524','#848B7A']
				    			/*backgroundColor: ['#3e95cd', '#8e5ea2','#3cba9f','#e8c3b9','#c45850']*/
				    		}]
				    	},
				    	options: {
				    		responsive:true,
				    		cutoutPercentage:75,
				    		maintainAspectRatio: true,
				    		title: {
				    			display: true,
				    			text: 'Most Executed actions (times)'
				    		}
				    	}
				    });
				},

				showSecurityView: function(){
					this.renderDashboardView = false;
					this.renderSecurityView = true;
					this.renderActionsView = false;
					this.renderAboutView = false;
					this.renderTriggersView = false;

				},
				assignDataStream: function(dS){
					console.log(" Entering assignDataStream function");
					this.selectedDs = dS;
					this.streamWasSelected=true;

					this.getdataStreamInformation(dS);
				},
				showDashboardView: function(){
					this.renderDashboardView = true;
					this.renderSecurityView = false;
					this.renderActionsView = false;
					this.renderAboutView = false;
					this.renderTriggersView = false;
					this.drawPieChart();
				},
				showCommandsView: function(){
					this.renderDashboardView = false;
					this.renderSecurityView = false;
					this.renderActionsView = true;
					this.renderAboutView = false;
					this.renderTriggersView = false;

				},
				showTriggersView: function(){
					this.renderTriggersView = true;
					this.renderDashboardView = false;
					this.renderSecurityView = false;
					this.renderActionsView = false;
					this.renderAboutView = false;

					this.renderOneTimeTrigger = false;
				},
				showAboutView: function(){
					this.renderDashboardView = false;
					this.renderSecurityView = false;
					this.renderActionsView = false;
					this.renderTriggersView = false;
					this.renderAboutView = true;
				},

				getMaxValue: function(dataPoints){
					var max = 0;
					var timestamp = '';
					
					for(i=0;i<dataPoints.length;i++){
						if(dataPoints[i].value>=max){
							max=dataPoints[i].value;
							timestamp = dataPoints[i].timestamp;
						}
					}
					console.log("Max value = " + max);
					console.log("timestamp = " + timestamp);
					this.maxValue.value = max;
					this.maxValue.timestamp = this.timeDif(timestamp);
				},
				getMinValue: function(dataPoints){
					var min=dataPoints[0].value;
					var timestamp = '';
					
					for(i=0;i<dataPoints.length;i++){
						if(dataPoints[i].value<=min){
							min=dataPoints[i].value;
							timestamp=dataPoints[i].timestamp;
						}
					}
					console.log("Min value = " + min);
					console.log("timestamp = " + timestamp);
					this.minValue.value = min;
					this.minValue.timestamp = this.timeDif(timestamp);
				},
				getAvgValue: function(){
					var values = this.getDataFromStream();
					var sum=0;
					var length = values.length;
					var avg = 0;

					console.log("values: " + values);
					console.log("length: " + length);

					for(i=0;i<length;i++){
						sum = sum + values[i];						
					}
					avg = sum / length;
					avg = avg.toFixed(2);
					console.log("Sum value = " + sum);
					console.log("Avg = " + avg)

					this.averageValue.value = avg;
					var time = this.getTimeElapsed();

					this.averageValue.timestamp=time;
					
				},

				getTimeElapsed: function(){
					var length = this.dataStreamInformation.dataPoints.length;
					var time1 = this.dataStreamInformation.dataPoints[0].timestamp;
					var time2 = this.dataStreamInformation.dataPoints[length-1].timestamp;

					console.log("timestamp 1 => " + time1); // "October 7, 2017 18:15:28 {(GMT-03:00) Local Time}"
					console.log("timestamp 2 => " + time2);

					var subs1 = time1.substring(0, 25); // "October 7, 2017 18:15:28
					var subs2 = time2.substring(0, 25); // "October 7, 2017 18:15:28

					console.log("subs1: " + subs1);
					console.log("subs2: " + subs2);

					var date1 = moment(subs1, 'MMM DD, YYYY hh:mm:ss').toDate();
					var date2 = moment(subs2, 'MMM DD, YYYY hh:mm:ss').toDate();

					console.log("date1 = " + date1);
					console.log("date2 = " + date2);

					console.log("RESPONSE IS ==> " + this.timeDif(time1));

					var minsElapsed = ((date2.getTime() - date1.getTime() ) / 1000) / 60;

					console.log( "Mins Elapsed: " + minsElapsed);
					return minsElapsed;
				},

				timeDif: function(dataPointTimestamp){

					var subs1 = dataPointTimestamp.substring(0, 25);

					expresion = /\(([^)]+)\)/; // GMT-03:00
					result = expresion.exec(dataPointTimestamp)
					console.log("regex: " + result[1]);

					hrs = result[1].substring(4,6);
					sign = result[1].substring(3,4);
					mins = result[1].substring(7,9);

					console.log("hh: " + hrs);
					console.log("signus: " + sign);
					console.log("mm: " + mins);


					var clientTimeIso8601 = moment().toISOString(); // te tira la hora del Cliente en UTC (que es GMT a secas)-Ej: '2018-05-09T00:52:46.404Z'


					dateSetUp = subs1 + ' ' + sign + hrs + mins;

					serverTimeInUtc = moment(dateSetUp).utc().format("YYYY-MM-DDTHH:mm:ss");

					console.log("###################################");

					console.log("ISO 8601 String: " + clientTimeIso8601); 

					console.log("server Time in UTC: " + serverTimeInUtc); 
					serverTimeInUtcString = String(serverTimeInUtc);
					clientTimeIso8601String = String(clientTimeIso8601);
					console.log("serverTimeInUtc [String]: " + serverTimeInUtcString); 
					console.log("clientTimeIso8601 [String]: " + clientTimeIso8601String); 

					clientTimeIso8601String = clientTimeIso8601String.substring(0, clientTimeIso8601String.length - 5); // Removing trailing '.msmsmsZ'

					console.log("clientTimeIso8601 cleaned [String]: " + clientTimeIso8601String); 

					var diff = moment(clientTimeIso8601String).diff(moment(serverTimeInUtcString));

					var duration = moment.duration(diff);

					durationMillis = duration.milliseconds();
					durationSeconds = duration.seconds();
					durationMinutes = duration.minutes();
					durationHours = duration.hours();
					durationMonths = duration.months();
					durationDays = duration.days();
					durationYears = duration.years();

					console.log("millis: " + durationMillis);
					console.log("secs: " + durationSeconds);
					console.log("mins: " + durationMinutes);
					console.log("hours: " + durationHours);
					console.log("days: " + Math.floor(duration.asDays())/*durationDays*/);
					console.log("months: " + durationMonths);
					console.log("years: " + durationYears);
					console.log("###################################");

					durationDays = Math.floor(duration.asDays());


					/*if(durationMonths>0){
						return durationMonths+' mths, '+durationDays+' days, '+durationHours+' hours, '+durationMinutes+' mins, '+durationSeconds+' secs ago.';
					}else{*/
						if(durationDays>0){
							return durationDays+' days';//+durationHours+' hours, '+durationMinutes+' mins, '+durationSeconds+' secs';
						}else{
							if(durationHours>0){
								return durationHours+' hours';//+durationMinutes+' mins, '+durationSeconds+' secs';
							}else{
								if(durationMinutes>0){
									return durationMinutes+' mins';//+durationSeconds+' secs';
								}else{
									return durationSeconds+' secs';
								}
							}
						}
					//}
					
				},

				openNav: function(){
						//this.sideNavStyle.backgroundColor = "rgba(0,0,0,0.4)";
						this.sideNavStyle.backgroundColor = "#111";
						this.sideNavStyle.width = "250px";

						console.log("Width => " + this.sideNavStyle.width);
						console.log("Color => " + this.sideNavStyle.backgroundColor);
					},

					closeNav: function(){
						this.sideNavStyle.backgroundColor = "white";
						this.sideNavStyle.width = "0";
					},

					hasToShowStreams: function(){
						console.log("Entering hasToShowStreams function");
						console.log("length = " + this.dataStreams.length);
						return this.dataStreams.length > 0;
					},

					getdataStreamInformation: function(dS){

						this.hasToShowCharAndCards=true;

						console.log("Entering getdataStreamInformation !");
						console.log("dS = " + dS);
						console.log('http://localhost:8090/test/dataStream/' + dS);

						axios.get('http://localhost:8090/test/dataStream/' + dS).then(response => {

							console.log("Response PLain => " + response);
							this.dataStreamInformation = response.data;	
							console.log("[SUCCESS] dataStreamInformation =>>>> " + this.dataStreamInformation);
							console.log("[SUCCESS] dataStreamInformation =>>>> " + this.dataStreamInformation.name);
							console.log("[SUCCESS] dataStreamInformation =>>>> " + this.dataStreamInformation.currentValue);
							console.log("[SUCCESS] dataStreamInformation =>>>> " + this.dataStreamInformation.lastUpdate);
							console.log("[SUCCESS] dataStreamInformation =>>>> " + this.dataStreamInformation.dataPoints);
							console.log("[SUCCESS] dataStreamInformation =>>>> " + this.dataStreamInformation.dataPoints[0]);
							console.log("[SUCCESS] dataStreamInformation =>>>> " + this.dataStreamInformation.dataPoints[0].timestamp);
							console.log("[SUCCESS] dataStreamInformation =>>>> " + this.dataStreamInformation.dataPoints[0].value);
							this.drawStreamChart(dS);

							this.currentValue.value = this.dataStreamInformation.currentValue ;
							this.currentValue.timestamp = this.timeDif(this.dataStreamInformation.lastUpdate);

							this.getAvgValue(this.dataStreamInformation.dataPoints);
							this.getMaxValue(this.dataStreamInformation.dataPoints);
							this.getMinValue(this.dataStreamInformation.dataPoints);

						}, (error) => {
							console.log("[ERROR] " + error);
						})
					},

					getLabelsForChart: function(){
						console.log(" Entering generateLabelsForChart");
						var length = this.dataStreamInformation.dataPoints.length;
						var labels = [];

						for(i=1; i<=length; i++){
							labels.push(i);
						}

						console.log(" Labels generated: " + labels);

						return labels;
					},

					getDataFromStream: function(){
						var dataPoints = this.dataStreamInformation.dataPoints;
						var length = dataPoints.length;
						var values = [];
						for(i=0; i< length; i++){
							values.push(dataPoints[i].value);
						}
						console.log(" Data Points values: " + values);
						return values;
					},

					drawStreamChart: function(dS){

						console.log(" Entering drawStreamChart function!");
						console.log(" Preparing for drawing [" + dS + "] stream!");

						var dataPointsLabels = this.getLabelsForChart();
						var dataPoints = this.getDataFromStream();

					    // Draw the chart using labels and data generated before
					    var ctx = document.getElementById('streamCanvas').getContext('2d');
					    var myChart = new Chart(ctx, {
					    	type: 'line',
					    	data: {
					    		labels: dataPointsLabels,
					    		datasets: [
					    		{
					    			label: dS,
					    			data: dataPoints,
					    			backgroundColor: "#007bff",
					    			pointBackgroundColor: "#007bff",
					    			strokeColor: "#007bff",
					    			pointColor: "#007bff",
					    			pointStrokeColor: "#007bff",
					    			pointHighlightFill: "#007bff",
					    			pointHighlightStroke: "#007bff",
					    		}]
					    	},
					    	options: {
					    		legend: {
					    			display: false
					    		},
					    		tooltips: {
					    			callbacks: {
					    				label: function(tooltipItem) {
					    					return tooltipItem.yLabel;
					    				}
					    			}
					    		},
					    		responsive: true,
					    		title: false,/*
					    		title: {
					    			display: false,	
					    		},*/					    		
					    		scales: {
					    			yAxes: [{
					    				display:false,
					    				ticks: {
					    					beginAtZero:false
					    				},
					    				gridLines:{
					    					display:false
					    				}
					    			}],
					    			xAxes: [{
			            //display:false,
			            ticks: {
			            	beginAtZero:false
			            },
			            gridLines:{
			            	display:false
			            }       }]     }  }  });
					}
				}
			});

		</script>

	</body>
	</html>